<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.car.vale.bdvdigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permisssões para meios de localização -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".logadoMotorista"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".kmInicial"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".kmFinal"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".veiculoConfig"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".CheckList"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name=".assinaturaPassageiro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".Teste"/>
        <activity
            android:name=".loadingSyncBDV"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".cadastroCustoMotorista"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".alteraSenha"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"/>
    </application>

</manifest>